<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>자보 업로드</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <div class="field">
      <label class="label">제목</label>
      <div class="control">
        <input class="input" type="text" placeholder="자보 제목을 입력해주세요">
      </div>
    </div>

    <div class="field">
      <label class="label">게시자</label>
      <div class="control">
        <input class="input" type="text" placeholder="자보 게시자 이름을 입력해주세요">
      </div>
    </div>

    <div class="field">
      <label class="label">설명</label>
      <div class="control">
        <textarea class="textarea" placeholder="자보에 대한 간단한 설명을 작성해주세요"></textarea>
      </div>
    </div>

    <div class="field is-grouped is-grouped-centered">
      <p class="control">
        <a class="button is-primary">
          Upload
        </a>
      </p>
      <p class="control">
        <a class="button is-light">
          Cancel
        </a>
      </p>
    </div>


  </section>
  </body>
</html>
